{% extends 'base.html.twig' %}

{% block title %}QuackComment index{% endblock %}

{% block body %}
    <h1>QuackComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack_comment in quack_comments %}
            <tr>
                <td>{{ quack_comment.id }}</td>
                <td>{{ quack_comment.comment }}</td>
                <td>
                    <a href="{{ path('quack_comment_show', {'id': quack_comment.id}) }}">show</a>
                    <a href="{{ path('quack_comment_edit', {'id': quack_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quack_comment_new', {'id': quack_comment.id}) }}">Create new</a>
{% endblock %}
