{% extends 'base.html.twig' %}

{% block title %}QuackComment index{% endblock %}

{% block body %}
    <h1>QuackComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack_comment in quack_comments %}
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td>{{ quack_comment.id }}</td>
                <td>{{ quack_comment.comment }}</td>
                <td>
                    <a href="{{ path('quack_comment_show', {'id': quack_comment.id}) }}">show</a>
                    <a href="{{ path('quack_comment_edit', {'id': quack_comment.id}) }}">edit</a>
                    <a href="{{ path('quack_comment_delete', {'id': quack_comment.id}) }}">delete</a>
                </td>
            </tr>
                <button type="button">
                    <a href="{{ path('quack_index') }}">back to list</a>
                </button>
            <tr>
                <td colspan="3">no records found</td>
            </tr>
                </tbody>
                </table>
            {% else %}
                <p>VOUS N'AVEZ PAS L'ACCES</p>
                <button type="button">
                    <a href="{{ path('quack_index') }}">back to list</a>
                </button>
            {% endif %}
        {% endfor %}

{% endblock %}
