{% extends 'base.html.twig' %}

{% block title %}QuackComment{% endblock %}

{% block body %}
    <h1>QuackComment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quack_comment.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ quack_comment.comment }}</td>
            </tr>
        </tbody>
    </table>
<button type="button">
    <a href="{{ path('quack_comment_index') }}">back to list</a>
</button>
    {% if quack_comment.author.email == app.user.username  %}
    <button type="button">
        <a href="{{ path('quack_edit', {'id': quack.id}) }}">EDIT</a>
    </button>
    {% endif %}
    {% if  is_granted('ROLE_ADMIN') %}
        {{ include('quack/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
