{% extends 'base.html.twig' %}

{% block title %}Quackbook{% endblock %}

{% block body %}


<a href="{{ path('quack_new') }}">
    <button type="button"> Create new</button>
</a>
    <form class="d-flex" method="get">

        <input class="form-control me-2" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> SEARCH </button>
        <a href="{{ path('quack_index') }}">back to list</a>

    </form>


    {% for quack in quacks %}



        {% if  is_granted('ROLE_ADMIN') %}
            {{ include('quack/_delete_form.html.twig') }}

            <table>
                <tr>
                    <td>  {{ quack.author.duckname }}</td>
                    <td>{{ quack.datetime|date }}</td>
                </tr>
                <br>

                <tr>
                    <td>{{ quack.message }}</td>
                </tr>
            </table>
        {% else %}


            <table>
                <tr>
                    <td>  {{ quack.author.duckname }}</td>
                    <td>{{ quack.datetime|date }}</td>
                </tr>
                <br>

                <tr>
                    <td>{{ quack.message }}</td>
                </tr>
            </table>
        {% endif %}

<a href="{{ path('quack_comment_new', {'id': quack.id}) }}">
    <button type="button"> Comment</button>
</a>
{% for quackComment in quack.quackComments %}

<button type="submit"><a href=" {{ path('quack_show', {'id': quack.id}) }}">SHOW</a></button>
<button type="button"><a href="{{ path('quack_comment_new', {'id': quack.id}) }}">NEW</a></button>





    {% for quackComment in quack.quackComments %}


        <h4><strong>COMMENTS :</strong></h4>
        <table>
            <tr>
                <td>{{ quackComment.author }} :</td>
            </tr>
            <tr>
                <td>
                    {{ quackComment.comment }}
                </td>
                <button type="submit"><a href="{{ path('quack_show', {'id': quack.id}) }}">ALERT</a></button>

            </tr>
        </table>
        <button type="submit"><a href="{{ path('quack_comment_delete', {'id': quackComment.id}) }}">DELETE COMMENT</a>
        </button>


        {% else %}

    {% endfor %}


  {% endfor %}
    {% endfor %}


                    {% endblock %}
